*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.downloader_container{
    padding-top: 10px;
    display: grid;
    height: 100vh;
  
    
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;

    grid-template-areas: "downloader_navigator downloader_navigator downloader_navigator downloader_navigator"
                        "main main main sidebar"
                        "content1 content2 content3 sidebar"
                        "footer footer footer footer";
    grid-gap:0.5rem;
}

#downloader_navigator{
    background: rgb(212, 250, 255);
    grid-area: downloader_navigator;
    text-align: center;
    padding: 1rem;
}

main{
    background: rgb(211, 248, 255);
    grid-area: main;
    text-align: center;
    padding: 0.2rem;
    margin-left: 0.5rem;
    display: grid;
    grid-template-columns:  1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:"video_thumbnail download_buttons_options";

}

.video_thumbnail{
    grid-area: video_thumbnail;
}
.download_buttons_options{
    grid-area: download_buttons_options;
    background: white;
}
.download_buttons_options button{
    background: rgb(29, 24, 104);
    color: white;
    font-size: 1rem;
    width: 65%;
    font-weight: 600;
    border: none;
    border-radius: 4px ;
    margin: 1rem;
    padding: 0.5em;
}


main img{
    height: 300px;
    width: auto;
    box-shadow: 1px 1px 9px ;
}
#preview_video_id{
    width: 320px;
    /* height: 300px; */
}

#sidebar{
    background: rgb(211, 248, 255);
    grid-area: sidebar;
    margin-right: 0.5rem;
}

#content1{
    background: rgb(211, 248, 255);
    grid-area: content1;
    margin-left: 0.5rem;
    padding: 0.5rem;
}
#content2{
    background: rgb(255, 255, 255);
    grid-area: content2;
    text-align: center;
}

#download_btn{
    background: rgb(40, 230, 81);
    width: 70%;
    margin: 1rem;
    padding: 1em;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 500;
}
#content3{
    background: rgb(211, 248, 255);
    grid-area: content3;
    padding: 0.5rem;
}
footer{
    background: rgb(211, 248, 255);
    grid-area: footer;
    text-align: center;
}
footer #alloder_links{
    margin: 1em;
    margin-top: 1.5rem;
}
footer #alloder_links a {
    margin: 1em;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
}


@media only screen and (max-width:650px){
    .downloader_container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas: "downloader_navigator"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
    main{
        margin-right: 0.5rem;
    }
    #sidebar{
        margin-left: 0.5rem;
    }
    #content1{
        margin-right: 0.5rem;
    }

    main{
        grid-template-columns:  1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:"video_thumbnail"
                            "download_buttons_options";
    }
    .download_buttons_options button{
        width: 80%;
    }
    #preview_video_id{
        width: 290px;
    }
}