.main_alloader_heading h2{
    text-align: center;
    color: rgb(28, 30, 70);
    padding: 1rem;  
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    background: #ffffff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border:4px solid rgb(33, 30, 80);
    box-shadow: 0.5rem 0.5rem 0.5rem #e4e3e3;
}
.wrapper:hover{
    box-shadow: 0.5rem 0.5rem 0.5rem #bababa;
    transition: 0.3s;
}
.wrapper input{
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem ;
    width: 85%;
    border: 1px;
    outline: none;
    background: rgba(248, 247, 247, 0);
    color:rgb(0, 0, 0);
}
.wrapper .fa-solid{
    color:rgb(33, 32, 39);
    font-size: 1.5rem;
    margin: 0.8rem;
}
.container{
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    margin-left: 14rem;
    margin-right: 1rem;
    /* margin-bottom: 5rem; */


}
.download{
    background:#e4e3e3;
    margin-top: 1rem;
    padding-top: 1em;
    padding-bottom:1em;
    padding-left:1em ;
    width: 85%;
}
.download button{
    padding:0.5em 0.5em 0.5em 0.5em ;
    width:20%;
    border: none;
    border-radius: 5px;
    margin-left: 40%;
    background-color: #2c7bfe;
    color: white;
    font-weight: 600;
    font-size: 1rem;
  }

.download button i{
    padding-right: 1em ;
    font-size: 1rem;
    font-weight: 600;
}

/* Responsive search bar */


  .loader{
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff;
    animation: an1 1s ease infinite;
    transition: 1.2s;
  }
  @keyframes an1{
    0%{
      transform: rotate(0turn);
      /* border-top-color:violet; */
    }
    100%{
      transform: rotate(1turn);
      /* border-top-color:teal; */
    }
  }


  

@media (max-width: 920px){
    
    .wrapper{

        width: 100%;
    }
    .download{
        width: 100%;
    }
    .download button{
        width:50%;
        margin-left: 22%; 
    }
    .container{
        margin-left: 1rem;
        margin-right: 1rem; 
    }
}
