.flexone {
    flex: 1;
}

.working_card_groups {
    margin: 0 auto;
    width: 780px;
    padding: 10px;
    height: auto;
}

.working_card_groups li {
    position: relative;
    list-style: none;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 3px 4px 0 #0001;
    overflow: hidden;
    margin-bottom: 30px;
    transition: all 0.3s;
}

.working_card_groups li:hover {
    transform: scale(1.04);
    box-shadow: 0 4px 14px 0 #0005;
}

.working_card_groups .working_card {
    overflow: hidden;
    display: block;
}

.working_card_groups .working_image-session {
    float: left;
    overflow: hidden;
    margin-right: 20px;
    padding: 10px 10px ;
}

.working_card_groups .working_image-session .thumbain_image {
    width: 280px;
    height: 220px;
    display: block;
    
    background-size: cover;
    background-position: center;
}

.working_card_groups .working_meta-sission {
    position: relative;
    padding: 15px;
    display: block;
    height: max-content;
}

.working_card_groups .working_meta-sission .head {
    display: flex;
    margin-bottom: 10px;
    height: 20px;
    background: white;
}

.working_card_groups .working_meta-sission .head .catogry {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    
    color: #0075ff;
   
}

.working_meta-sission .head .per span,
.working_meta-sission .head .per input {
    display: block;
    font-size: 10px;
    text-align: right;
}

.working_meta-sission .head .per input {
    -webkit-appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #0001;
    margin-bottom: 4px;
    overflow: hidden;
}

.working_meta-sission .head .per input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    box-shadow: -100px 0 0 100px #0075ff;
}

.working_card_groups .body .title {
    background: white;
    padding: 5px 5px;
    height: 50px;
    margin-bottom: 25px;
    overflow: hidden;
    font-size: 1.5rem;
}

.working_card_groups .body .desc {
    height: 45px;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 13px;
}

.working_card_groups .footer .button {
    /* position: absolute; */
    /* bottom: 20px;
    right: 25px; */
    
    background: #063a78;
    color: #fff;
    line-height: 2.2;
    padding: 5px 20px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 1px 6px 0 #0004;
    transition: all 0.3s;
}

.working_card_groups .footer .button:hover {
    box-shadow: 0 3px 8px 0 #0005;
    background: #063a78;
    right: 15px;
}

.working_card_groups .footer .views {
    display: block;
    font-size: 12px;
    margin-top: 40px;
}

@media screen and (max-width:780px) {
    .working_card_groups {
        width: 96%;
    }

    .working_card_groups li:hover {
        transform: none;
        box-shadow: none;
    }
}

@media screen and (max-width:560px) {
    .working_card_groups .working_image-session {
        float: none;
        margin-right: 0;
    }

    .working_card_groups .working_image-session .thumbain_image {
        width: 100%;
    }
}