{% extends 'index.html' %}
{% load static %}
{% block title %} Pinsdownloader - tools {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about_alloader.css' %}">
<link rel="stylesheet" href="{% static 'css/404.css' %}">

<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
<script src="https://kit.fontawesome.com/65d87443ab.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}

    <div class="container">
        <div class="img"><img src="static/img/404.jpg" alt=""></div>
        <h3>Page Not Found</h3>
        <p>Invalid search, page not exist go to home page and explor more tools....</p>
        <a href="/">home</a>
    </div>


{% block js %}

<script>
    var _section = document.getElementById('Search_bar_section');
    _section.remove()
</script>
{% endblock %}


{% endblock %}
