{% extends 'index.html' %}
{% load static %}
{% block title %} alloader - about {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/about_alloader.css' %}">
{% endblock %}
{% block body %}

<div class="about-section">
    <div class="heading">
        <h2>About us</h2>
    </div>
    <div class="subtitle">
        <h4>alloader is the solution to download. We provide the most popular downloader tools to save your videos online </h4>
    </div>
    <div class="text-area">
        <h3> alloader !</h3>
        <br>
        <p>alloader is the solution for those people who want to download file or video from the internet. We provide the most popular Downloader Tools and support to solve your download problem.
        </p>
        <br>
        <h3> Our tools </h3>
        <ul>
            <li>Pintrest video downloader</li><p></p>
            <li>Instagram video downloader</li><p></p>
            <li>YouTube video downloader </li><p></p>
            <li>Facebook video downloader</li><p></p>
            <li>Likee video downloader</li><p></p>
        </ul>

    </div>
    <div class="social-content">
        <div class="soacial_share">
            <button>How it's Works ! </button>
        </div>
    </div>

    <div class="read_more_about">
        <h4>Know more about alloader</h4>
        
        <a href="#">Privacy Policy</a>
        <br>
        <a href="#">Term & Conditions</a>
        <br>
        <h5>&</h5>
        <p>All company names or logos are ® trademarks of their respective holders. The use of them does not imply any affiliation with or endorsement by them & we don't host any copyright images or videos on this website, all rights belong to their respective owners.</p>

    </div>

</div>



{% block js %}
<!-- <script src="{% static 'script/downloader.js' %}"></script> -->
<script>
    var _section = document.getElementById('Search_bar_section');
    _section.remove()
</script>
{% endblock %}


{% endblock %}