<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="new card.css">
</head>

<body>
    <div class="article-contener">
        <ul class="groups">
            <li>
                <div class="card">
                    <div class="image-session">
                        <span class="image" style="background-image: url('image2.jpg');"></span>
                    </div>
                    <div class="meta-sission">
                        <div class="head">
                            <a href="#" class="catogry">Youtube downloader</a>
                            <span class="flexone"></span>
                        </div>
                        <div class="body">
                            <h2 class="title">Lorem ipsum dolor sit amet consectetur.</h2>
                            <p class="desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur ex
                                corporis nisi dignissimos quam debitis enim repellat cum explicabo consequatur.</p>
                        </div>
                        <div class="footer">
                            <a href="#" class="button">download</a>
                        </div>
                    </div>
                </div>
            </li>
            
        </ul>
    </div>
</body>

</html>